[Unit]
Description=Database Cleanup Daemon
Requires=mysqld.service
After=mysqld.service
Wants=mysqld.service

[Service]

Type=forking
EnvironmentFile=/etc/dcd.conf
ExecStart=/usr/bin/dcd $DCD_ARGS

[Install]
WantedBy=multi-user.target